.side-title {
    color: rgba(143, 172, 146, 0.966);
}

@media screen and (width < 720px) {
    .main-container {
        padding-top: 2rem;
        display: flex;
        margin-bottom: 5rem;
    }

    .img-container {
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .photo {
        width: 85px;
        margin-left: 2rem;
    }

    .content-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-grow: 2;
    }
    
    .section-title {
        z-index: -50;
        display: flex;
        align-items: flex-start;
        flex-grow: 1;
    }
    
    .side-title {
        writing-mode: vertical-rl;
        rotate: 180deg;
        font-family: 'Oswald', sans-serif;
        font-weight: 900;
        font-size: 3.6rem;
        display: flex;
        letter-spacing: 0.1rem;
        text-rendering: optimizeSpeed;
        user-select: none;
    }
    
    
    .section-content {
        display: flex;
        flex-direction: column;
        padding-left: .8rem;
        padding-right: 1.4rem;
        
    
    }
    /* =====CONTENT=============*/


.paragraph-about p.p-about {
    font-size: 1rem;
    padding-right: 2rem;
}

 .content-head {
    font-size: 1.4rem;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    text-align: start;
    padding: 0;
    transform: translateY(-0.8rem);
}

.job-section-container {
    display: flex;
    flex-direction: column;
}

.section-content p {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

p.date {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-decoration: underline;
    font-size: 1rem;
    margin-bottom: .5rem;
}


p.exp-title {
    font-family: 'Oswald', sans-serif;
    display: flex;
    text-align: left;
    font-size: 1.5rem;
} 

ul.job-desc {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    list-style-type: square;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1rem;
}

ul.job-desc li {
    line-height: 1.2rem;
    padding-right: 2rem;
    margin-left: 1rem;
}

p.phone {
    font-size: 1rem;
}

p.mail {
    font-size: 1rem;
}

p.mail a {
    color: black;
    font-weight: 700;
}

p.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
}


}

/* ======================================================================*/
/* ======================================================================*/


@media screen and (width > 720px) {
    .main-container {
        padding-top: 1rem;
        display: flex;
        margin-bottom: 5rem;
    }

    .content-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-grow: 2;
    }
    
    /* .section-title {
        z-index: -50;
        display: flex;
        align-items: flex-start;
        flex-grow: 1;
    } */
    
    .side-title {
        writing-mode: vertical-rl;
        rotate: 180deg;
        font-family: 'Oswald', sans-serif;
        font-weight: 900;
        font-size: 5rem;
        display: flex;
        justify-content: end;
        letter-spacing: -0.2rem;
        text-rendering: optimizeSpeed;
        
        user-select: none;
        flex-grow: 1;
    }
    
    
    .section-content {
        display: flex;
        flex-direction: column;
        white-space: break-spaces;
        margin-left: 1.8rem;
    
    }

    .img-container {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .photo {
        width: 300px;
        margin-right: 5rem;
    }

    /* ==================================================================*/
    /* =====CONTENT=============*/


    .paragraph-about p.p-about {
        font-size: 1.4rem;
        padding-right: 4rem;
    }

 .content-head {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    text-align: start;
    padding: 0;
    padding-bottom: 1.5rem;
}

/*=========CV CONTENT============= */

.job-section-container {
    display: flex;
    flex-direction: column;
}

.section-content p {
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
}

p.date {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-decoration: underline;
    font-size: 1.5rem;
    margin-bottom: .5rem;
}


p.exp-title {
    font-family: 'Oswald', sans-serif;
    display: flex;
    text-align: left;
    font-size: 2rem;
    padding-right: 1rem;
} 

ul.job-desc {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    list-style-type: square;
    margin-bottom: 1rem;
    line-height: 1rem;
}

ul.job-desc li {
    line-height: 1.6rem;
    padding-right: 10rem;
    margin-left: 1.5rem;
    font-size: 1.8rem;
}


/* ================================ */
}


/* =======================================================================*/
/* =======================================================================*/

@media screen and (width > 900px) {
    .main-container {
        display: flex;
        padding: 0;
        margin-top: 2rem;
        margin-bottom: 10rem;
        padding-left: 20rem;
    }

    .content-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-grow: 2;
    }
    
    .section-title {
        z-index: -50;
        display: flex;
        text-align: end;
        flex-grow: 1;
    }
    
    
    .side-title {
        writing-mode: vertical-rl;
        rotate: 180deg;
        font-family: 'Oswald', sans-serif;
        font-weight: 900;
        font-size: 6rem;
        letter-spacing: -0.2rem;
        text-rendering: optimizeSpeed;
        white-space: nowrap;
        user-select: none;
        transition: .4s ease;
        
    }
    
    .section-content {
        display: flex;
        flex-direction: column;
        white-space: break-spaces;
    
    }

        /* ==================================================================*/
    /* =====CONTENT=============*/


    .img-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 450px;
        padding-bottom: 2.5rem;
        padding-left: 2rem;
    }

    .photo {
        width: 425px;
        transform: translateX(5rem);

    }




.paragraph-about p.p-about {
        font-size: 2rem;
        padding-right: 4.8rem;
    }


 .content-head {
    font-size: 2.8rem;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    text-align: start;
    padding: 0;
    padding-bottom: 1.5rem;
}

/*=========CV CONTENT============= */

.job-section-container {
    display: flex;
    flex-direction: column;
}

p.date {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-decoration: underline;
    font-size: 1.8rem;
    margin-bottom: .5rem;
}


p.exp-title {
    font-family: 'Oswald', sans-serif;
    display: flex;
    text-align: left;
    font-size: 2.5rem;
    padding: .4rem 0;
    padding-right: 2rem;
} 

a {
    color: rgb(26, 20, 54);
}

p.job-desc {
    font-size: 1.4rem;

}

ul.job-desc li {
    line-height: 1.6rem;
    padding-right: 10rem;
    margin-left: 1.5rem;
    font-size: 1.8rem;
    user-select: text;
}

}

/* =========IPadTEST*/

@media all and (device-width > 1600px) and (device-width < 1700px) and (orientation:portrait) {
    body {
        background: blueviolet;
    }
}



@media screen and (width > 1900px) {


    .main-container {
        display: flex;
        margin-top: 2rem;
        padding: 0;
        padding-left: 35rem;
    }

    .content-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-grow: 2;
    }
    
    .section-title {
        z-index: -50;
        display: flex;
        text-align: end;
        flex-grow: 1;
    }
    
    
    .side-title {
        writing-mode: vertical-rl;
        rotate: 180deg;
        font-family: 'Oswald', sans-serif;
        font-weight: 900;
        font-size: 10rem;
        letter-spacing: -0.2rem;
        text-rendering: optimizeSpeed;
        white-space: nowrap;
        user-select: none;
    }
    
    .section-content {
        display: flex;
        flex-direction: column;
        white-space: break-spaces;
    
    }

        /* ==================================================================*/
    /* =====CONTENT=============*/

    .paragraph-about p.p-about {
        font-size: 3rem;
        padding-right: 10rem;
    }



 .content-head {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    text-align: start;
    padding: 0;
    padding-bottom: 1.5rem;
}

/*=========CV CONTENT============= */

.img-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 500px;
}

.photo {
    width: 500px;

}

.job-section-container {
    display: flex;
    flex-direction: column;
}

.section-content p {
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
}

p.date {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-decoration: underline;
    font-size: 2rem;
    margin-bottom: 1rem;
}


p.exp-title {
    font-family: 'Oswald', sans-serif;
    display: flex;
    text-align: left;
    font-size: 2.6rem;
} 
}




/* .main-container {
    display: flex;
    flex-grow: 4;
    
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.section-title {
    z-index: -50;
    display: flex;
    text-align: end;
}


.side-title {
    writing-mode: vertical-rl;
    rotate: 180deg;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    font-size: 10rem;
    letter-spacing: -0.2rem;
    text-rendering: optimizeSpeed;
    color: rgba(205, 205, 205, 0.772);
    white-space: nowrap;
    user-select: none;
} */












/* =====CONTENT=============*/




/* .section-content h2 {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    text-align: start;
    padding: 0;
}

.job-section-container {
    border: solid 1px #ff0000;
    display: flex;
    flex-direction: column;
}

.section-content p {
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
}

/* .date {
    background: #000;
}


p.exp-title {
    display: flex;
    background: #000;
    text-align: left;
} 
*/
/* @media screen and (width > 1000px) {
    .section-content {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        flex-grow: 20;
        margin-left: 2rem;
        margin-right: 16rem;
        /* border: solid 1px green; 
    }
    

    .section-content h2 {
        font-size: 4rem;
        font-weight: bold;
        font-family: 'Oswald', sans-serif;
        text-align: start;
    }
    
    .job-section-container {
        border: solid 1px #ff0000;
        display: flex;
        flex-direction: column;
    }
    
    .section-content p {
        font-size: 2.4rem;
        font-family: 'Roboto', sans-serif;
    }
    
    /* .date {
        background: #000;
    }
    */
   /* 
    p.exp-title {
        display: flex;
        background: #000;
        text-align: left;
    }
} */