.cursor {
    width: 20px;
    height: 20px;
    background-color: #090909;
    transition: all 50ms ease-out;
    position: fixed;
    z-index: 40;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    mix-blend-mode: screen; /* selection : screen*/
}

.cursor:after {
    content: "";
    position: fixed;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    left: 0;
    top: 0;
    translate: 10px 10px;
    background: #4d4b4be9;
    mix-blend-mode: screen;
}

/* .cursor-hover {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #706868;
    transition: all 50ms ease-out;
    position: fixed;
    z-index: 40;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    mix-blend-mode: screen;
} */

@media screen and (max-width: 450px) {
    .cursor {
        display: none;
    }
}