/*
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
*/

body {
    scroll-behavior: smooth;
}

@media screen and (width < 720px) {

    * {
        margin: 0;
        padding: 0;
        user-select: none; 
        box-sizing: border-box;
    }

    
 .profile-pic {
        position: relative;
        width: 2rem;
    }
/*
    .photo {
        width: 5rem;
        position: absolute;
        left: 1rem;
        top: 1rem;
    } */

    /*==========TITLES=================== */


    header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1.2rem 0rem;
        padding: 0 1.2rem;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        /*position: relative;
        z-index: 10;
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem; */
    }
    


    .title {
        display: flex;
        position: relative;
        z-index: 0;
        width: 100%;
        /* height: 100%; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 10;

    }
     
    .first-name {
        font-family: 'Oswald', sans-serif;
        font-size: 2rem;
        letter-spacing: .3rem;

    }

    .main-name {
       font-family: 'Oswald', sans-serif;
        font-weight: 900;
        font-size: 1.9rem;
        letter-spacing: 8px;

        
    }

    .pro-title, .subpro-title {
        font-family: 'Roboto', sans-serif;
    }


    .pro-title {
        text-align: center;
        font-size: 1.5rem;
        font-weight: normal;
        padding: 0.5rem 2rem;
        padding-top: 1rem;

    }
  
    .subpro-title {
        font-size: 1.2rem;
        letter-spacing: 6px;
    }
  
    /* =========SOCIAL====================*/
    .social {
        height: 100%;
        width: 2rem;
    }
    
    .social-list {
        list-style-type: none;
    }  
    
    .social-list-item {
        text-align: center;

    }
    
    ul > li > img > .github, ul > li > img > .instagram {
        border-radius: 10px;
        
    }

    .icon {
        width: 25px;
    }

    .github {
        width: 23px;
    }

}


/* ==========================================================================*/

@media screen and (width > 720px) {

    * {
        margin: 0;
        padding: 0;
        user-select: none; 
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1.2rem 0rem;
        padding: 0 1.2rem;
    }

    
    .profile-pic {
        width: 10rem;
    }

    /* .photo {
        width: 120px;
        position: absolute;
        margin-left: 1rem;
        right: 0;
    } */

    /*==========TITLES=================== */




    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        /* position: relative;
        z-index: 10;
        width: 100%;
        margin-top: 4rem;
        margin-bottom: 4rem; */
    }
    


    .title {
        display: flex;
        position: relative;
        z-index: 0;
        height: 100%;
        flex-grow: 4;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
     
    .first-name {
        font-family: 'Oswald', sans-serif;
        font-size: 3rem;
        letter-spacing: .8rem;

    }

    .main-name {
       font-family: 'Oswald', sans-serif;
        font-weight: 900;
        font-size: 4.1rem;
        letter-spacing: 8px;

        
    }

    .pro-title, .subpro-title {
        font-family: 'Roboto', sans-serif;
    }


    .pro-title {
        text-align: center;
        font-size: 2.2rem;
        font-weight: normal;
        padding: .5rem 4rem;
        padding-top: 1rem;

    }
  
    .subpro-title {
        font-size: 2rem;
        letter-spacing: 6px;
    }
  
    /* =========SOCIAL====================*/
    .social {
        display: flex;
        justify-items: center;
        align-content: center;
        flex-grow: 2;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 10rem;
    }
    
    .social-list {
        list-style-type: none;
    }  
    
    .social-list-item {
        text-align: center;

    }
    
    ul > li > img > .github, ul > li > img > .instagram {
        border-radius: 10px;
        
    }

    .icon {
        width: 55px;
    }

    .github {
        width: 48px;
    }
}


@media screen and (width > 900px) {

    * {
        margin: 0;
        padding: 0;
        user-select: none; 
    }

    
    .profile-pic {
        flex-grow: 2;
        margin-left: 1rem;
    }

    .photo {
        width: 150px;
        position: absolute;
        left: 2rem;
        top: 4rem;
        margin-left: 1rem;

    }

    /*==========TITLES=================== */




    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 10;
        width: 100%;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    


    .title {
        display: flex;
        position: relative;
        z-index: 0;
        height: 100%;
        flex-grow: 4;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
     
    .first-name {
        font-family: 'Oswald', sans-serif;
        font-size: 5rem;
        letter-spacing: .8rem;

    }

    .main-name {
       font-family: 'Oswald', sans-serif;
        font-weight: 900;
        font-size: 6rem;
        letter-spacing: 8px;

        
    }

    .pro-title, .subpro-title {
        font-family: 'Roboto', sans-serif;
    }


    .pro-title {
        text-align: center;
        font-size: 3rem;
        font-weight: normal;
        padding: 0.5rem 2rem;
        padding-top: 1rem;

    }
  
    .subpro-title {
        font-size: 2.4rem;
        letter-spacing: 6px;
    }
  
    /* =========SOCIAL====================*/
    .social {
        display: flex;
        justify-items: center;
        align-content: center;
        flex-grow: 2;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
    }
    
    .social-list {
        list-style-type: none;
    }  
    
    .social-list-item {
        text-align: center;

    }
    
    ul > li > img > .github, ul > li > img > .instagram {
        border-radius: 10px;
        
    }

    .icon {
        width: 55px;
    }

    .github {
        width: 48px;
    }
}


@media screen and (width > 1900px) {

    * {
        margin: 0;
        padding: 0;
        user-select: none; 
    }

    
    .profile-pic {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 2;
    }


    .photo {
        width: 400px;
        position: absolute;
        left: 1rem;
        top: 1rem;
        margin-left: 1rem;
    }

    /*==========TITLES=================== */




    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 10;
        width: 100%;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    


    .title {
        display: flex;
        position: relative;
        z-index: 0;
        height: 100%;
        flex-grow: 4;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
     
    .first-name {
        font-family: 'Oswald', sans-serif;
        font-size: 6.4rem;
        letter-spacing: .9rem;

    }

    .main-name {
       font-family: 'Oswald', sans-serif;
        font-weight: 900;
        font-size: 8rem;
        letter-spacing: 8px;

        
    }

    .pro-title, .subpro-title {
        font-family: 'Roboto', sans-serif;
    }


    .pro-title {
        text-align: center;
        font-size: 3rem;
        font-weight: normal;
        padding: 1rem 2rem;
        padding-top: 1rem;

    }
  
    .subpro-title {
        font-size: 2.4rem;
        letter-spacing: 6px;
    }
  
    /* =========SOCIAL====================*/
    .social {
        display: flex;
        justify-items: center;
        align-content: center;
        flex-grow: 2;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
    }
    
    .social-list {
        list-style-type: none;
    }  
    
    .social-list-item {
        text-align: center;

    }
    
    ul > li > img > .github, ul > li > img > .instagram {
        border-radius: 10px;
        
    }

    .icon {
        width: 62px;
    }

    .github {
        width: 52px;
    }
}