@media screen and (min-width: 2540px){
    


nav {
    display: flex;
    flex-grow: 1;
}


li.nav-item > h4 {
    font-family: 'Oswald', sans-serif;
    position: inherit;
    z-index: 50;
    padding-left: 8rem;
    padding-right: 8rem;
    letter-spacing: 6px;
    user-select: none;

}


.nav-item {
    position: relative;
    z-index: 1;
    width: 100%;
    transition: .2s ease;
/*    cursor: pointer;*/
    padding-block: .2rem;
    font-size: 2rem;    
}

.nav-item:hover {
    background-color: rgba(78, 78, 78, 0.669);
    color: white;
    transition: .2s ease;
    width: 100%;
}

.active {
    background-color: rgb(49, 49, 49);
    color: white;
    transition: .2s ease;
    width: 100%;
}

}