@media screen and (max-width: 450px){



    .container {
        display: flex;
        position: relative;
        z-index: 10;
        width: 100%;
        height: 12rem;
        box-shadow: 2px 2px 8px grey;
        padding-top: 1rem;
    }

    .title {
        display: flex;
        position: relative;
        z-index: 2;
        flex-grow: 4;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0);
    }

    h1 {
        position: relative;
        z-index: 0;
       font-family: 'Oswald', sans-serif;
        font-weight: 900;
        font-size: 1.4rem;
        letter-spacing: 8px;
        color: rgb(0, 0, 0);
        background-color: rgba(255, 255, 255, 0);
        padding-top: 1rem;
        margin-bottom: 0;
        
    }

    h2, h3 {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        background: #ffffff00;
    }

    .first-name {
        position: relative;
        z-index: 1;
        font-family: 'Oswald', sans-serif;
        font-weight: 900;
        font-size: 1.4rem;
        background: #ffffff00;
        letter-spacing: 6px;
    }

    .pro-title {
        letter-spacing: 2px;
        font-size: 1rem;
        font-weight: 400;
        padding-left: 2.8rem;
        padding-right: 2.8rem;
        padding-bottom: .5rem;
    }

    .subpro-title {
    font-size: 1rem;
    }


    

    img {
        height: 20px;
        padding-right: .4rem;
        padding-bottom: .5rem;
    }

    .social {
        display: flex;
        justify-items: center;
        align-content: center;
        flex-grow: 2;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }
}